body{
    width: 300px;
}
#baseFre{
    width: 275px;
}
#beatsFre{
    width: 275px;
}
#volume{
    width: 275px;
}
#message{
    display: flex;
    justify-content: center;
    align-items: center;
}
#playPauseImg{
    height: 25px;
}