body{
    width: 300px;
}
#baseFre{
    width: 275px;
}
#beatsFre{
    width: 275px;
}
#volume{
    width: 275px;
}
#message{
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}
#playPauseImg{
    height: 25px;
}
#medi{
    height: 25px;
}